/*COMMON & RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff5e2;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 50%;
}

.small-wrap {
    padding: 30px;
}

/*HEADER*/
header h1 {
    background-color: #fdbc41;
    padding: 30px;
}
/*FINE HEADER*/

/*MAIN*/
main {
    background-color: white;
}

#name-your-burger {
    font-size: 25px;
    border: none;
}

h4 {
    font-weight: 400;
    padding: 30px 0;
}

.two-check {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;

}

.check-row.coupon {
    padding: 50px 0;
}

#discount-coupon {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff5e2;
    width: 70%;
}

.check-row.button {
    text-align: center;
}

.check-row button {
    font-weight: 600;
    padding: 10px 30px;
    background-color: #fdbc41;
    border: none;
    border-radius: 8px;

}
/*FINE MAIN*/

/*FOOTER*/
footer {
    background-color: #d33259;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
/*FINE FOOTER*/